.movie-item {
    display: flex;
    flex-direction: row;
    width: 454px;
    height: 281px;
    flex-wrap: nowrap;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 35px;
}
.poster-container {
    display: flex;
    width: 183px;
    height: 281px;
    margin-right: 20px;
    margin-bottom: 49px;
}
.poster-container__image {
    display: flex;
    width: 183px;
    height: 281px;
}
.movie-item__container {
    display: flex;
    flex-direction: column;
}
.movie-item__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-item__date-release {
    margin-bottom: 9px;
}
.movie-item__title {
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.movie-item__count {
    width: 30px;
    height: 30px;
}
.movie-item__date-release {
    font-size: 12px;
    line-height: 22px;
    color: #827e7e;
}
.movie-item__categories-container {
    display: flex;
    flex-direction: row;
    height: 20px;
    min-width: 101px;
}
.movie-item__categories {
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: #FAFAFA;
    padding: 2px 4px 3px 5px;
    margin-right: 8px;
}
.movie-item__description {
    width: 229px;
    height: 129px;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}