.movies-list {
    display: flex;
    flex-direction: column;
    margin:  0 auto;
    height: auto;
    list-style: none;
    padding: 0;
}
@media (min-width: 720px) {
    .movies-list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 1010px;
        justify-content: space-around;
    }
}
